<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mentomen.article.mapper.articleMapper">
    <resultMap id="article" type="com.example.mentomen.article.vo.ArticleVO">
        <id property="id" column="id" />
        <result property="creator" column="creator" />
        <result property="name" column="name" />
        <result property="detail" column="detail" />
        <result property="dataSet" column="data_set" />
        <result property="dataModel" column="data_model" />
        <result property="collector" column="collector" typeHandler="io.dtonic.dhubingestmodule.common.handler.JsonTypeHandler" />
        <result property="filter" column="filter" typeHandler="io.dtonic.dhubingestmodule.common.handler.JsonTypeHandler" />
        <result property="converter" column="converter" typeHandler="io.dtonic.dhubingestmodule.common.handler.JsonTypeHandler" />
        <result property="createdAt" column="created_at" />
        <result property="modifiedAt" column="modified_at" />
    </resultMap>
    <select id="getArticleList" resultType="com.example.mentomen.article.vo.ArticleVO" resultMap="article"></select>
    <select id="getArticle" resultType="com.example.mentomen.article.vo.ArticleVO" resultMap="article"></select>
    <insert id="saveArticle" parameterType="String">
    INSERT INTO 
      temp_pipeline
      (
        name,
        creator,
        detail, 
        created_at,
        modified_at
        )
      VALUES 
      (
        #{name}, 
        #{creator}, 
        #{detail}, 
        now(),
        now()
        )
    </insert>
    <update id="updateArticle"></update>
    <delete id="deleteArticle" parameterType="Integer">
    DELETE FROM article
    WHERE id = #{articleId}
  </delete>
</mapper>