<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mentomen.comment.mapper.CommentMapper">
  <resultMap id="comment" type="com.example.mentomen.comment.dao.CommentDAO">
    <id property="commentId" column="comment_id" />
    <result property="articleId" column="article_id" />
    <result property="creatorId" column="creator_id" />
    <result property="parentId" column="parent_id" />
    <result property="contents" column="contents" />
    <result property="createdAt" column="created_at" />
    <result property="modifiedAt" column="modified_at" />
  </resultMap>
  <select id="getCommentList" resultType="com.example.mentomen.comment.dao.CommentDAO" resultMap="comment">
    SELECT
      comment_id,
      article_id,
      creator_id,
      parent_id,
      contents,
      created_at,
      modified_at
    FROM
      comment
    WHERE
      article_id = #{article_id};
  </select>
  <select id="getCommentChildList" resultType="com.example.mentomen.comment.dao.CommentDAO" resultMap="comment">
    SELECT
      comment_id,
      article_id,
      creator_id,
      parent_id,
      contents,
      created_at,
      modified_at
    FROM
      comment
    WHERE
    parent_id = #{parent_id};
  </select>
  <insert id="saveComment" parameterType="String">
    INSERT INTO 
      comment
      (
        creator_id,
        parent_id,
        contents,
        created_at,
        modified_at
        )
      VALUES 
      (
        #{creator_id}, 
        #{parent_id, jdbcType=INTEGER}, 
        #{contents}, 
        now(),
        now()
        );
    </insert>
  <update id="updateArticle">
    UPDATE comment
    SET
    creator_id=#{creator_id, jdbcType=INTEGER},
    parent_id=#{parent_id, jdbcType=INTEGER}, 
    contents=#{contents, jdbcType=VARCHAR},
    modified_at=now()
    WHERE comment_id=#{comment_id};
  </update>
  <delete id="deleteComment" parameterType="Integer">
    DELETE FROM comment
    WHERE comment_id = #{comment_id}
  </delete>
</mapper>